main {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 240px;
    width: 100%;
}
.content {
    padding: 0 240px;
}
.nav__links {
    margin-left: 120px;
    margin-right: auto;
    display: flex;
}
.nav__links > li {
    font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* 1 */

color: #4B5D68;

}
.nav__links > li + li {
    margin-left: 40px;
}
.nav__button {
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

align-items: center;
letter-spacing: 0.005em;

/* 2 */

color: #212353;
    padding: 17px 29px;
    background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
    display: inline;
}
.nav__button span {
    margin-left: 20px;
}
.hero {
    padding-left: 240px;
    display: flex;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
}

.hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
}
.hero__title {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 110%;
    

/* 2 */

color: #212353;
max-width: 645px;
}
.hero__subtitle {
max-width: 380px;
height: 120px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
    margin: 50px 0 ;
/* or 29px */


/* 1 */

color: #4B5D68;
}
.hero__button {
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
text-align: center;

color: #FFFFFF;
    padding: 16px 37px;
    background: #9C69E2;
border-radius: 50px;
}

.hero__right img{
    width: auto;
    height: auto;
    max-width: 45vw;
}

.about {
    display: flex;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin-top: 100px;
}

.about__text {
    margin-left: 62px;
}
.about__title {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* or 52px */

display: flex;
align-items: center;

color: #212353;
max-width: 475px;

}
.about__subtitle {
    font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */


/* 1 */

color: #4B5D68;
margin-top: 40px;
max-width: 474px;
}

.features {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #212353;
}
.features__subtitle {
    padding-top: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    
    text-align: center;
    
    /* 1 */
    
    color: #4B5D68;
    max-width: 585px;
}
.features__list {
    padding-top: 100px;
    display: flex;
    max-width: 1140px;
    flex-wrap: wrap;
    justify-content: center;
}
.features__item {
    width: 50%;
    min-width: 555px;
    display: flex;
    height: 358px;
    margin: 25px 0;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 280px;
}
.features__item-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    
    display: flex;
    align-items: center;
    
    color: #212353;
    width: 200px;
    height: 50px;
}
.features__item-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    
    
    /* 1 */
    
    color: #4B5D68;
    width: 220px;
    height: 160px;
    margin: 20px 0;
}
.featires__link {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    
    /* 2 */
    
    color: #212353;
}
.featires__link > span {
    padding-left: 20px;
}
.features__item_1 {
    background: url(../img/01.png) no-repeat;
}
.features__item_2 {
    background: url(../img/02.png) no-repeat;
}
.features__item_3 {
    background: url(../img/03.png) no-repeat;
}
.features__item_4 {
    background: url(../img/04.png) no-repeat;
}
footer{
    margin-top: 250px !important;
    padding-bottom: 90px;
    position: relative;
}
footer::before {
    display: block;
    content: "";
    position: absolute;
    background: #9C69E2;
    opacity: 0.2;
    height: 2px;
    width: 100vw;
    top: -100px;
}
.footer__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer__top-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.footer__title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */
    
    display: flex;
    align-items: center;
    
    color: #212353;
    
}
.footer__subtitle {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    
    
    /* 1 */
    
    color: #4B5D68;
    margin-top: 20px;
}
.footer__buttons {
    display: flex;
    flex-wrap: wrap;
}
.footer__button_pink {
    padding: 16.5px 37px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    /* identical to box height, or 29px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    background: #F063B8;
    border-radius: 50px;
    margin-right: 30px;
}
.footer__button_white {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    
    /* 2 */
    
    color: #212353;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding: 17px 29px;
}
.footer__button_white > span {
    padding-left: 20px;
}
.footer__midle {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__location {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin-right: 210px;
}
p.logo {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */
    
    
    /* 2 */
    
    color: #212353;
}
p.logo > img {
    margin-right: 20px;
}
.footer__location-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */
    
    letter-spacing: 0.01em;
    
    /* 2 */
    
    color: #212353;
    margin-top: 65px;
    width: 265px;
}
.footer__location-email {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */
    
    letter-spacing: 0.01em;
    
    /* 2 */
    
    color: #212353;
    margin-top: 10px;
    width: 190px;
}
.footer__list {
    display: flex;
    flex-direction: column;
}
.footer__list-title {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    
    
    /* 2 */
    
    color: #212353;
}
.footer__list-content {
    margin-top: 30px;
    width: 166px auto;
    display: flex;
    flex-direction: column;
}
.social {
    max-width: 178px;
    flex-direction: row;
}
.footer__list-content > li {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;
    /* or 40px */
    
    
    /* 2 */
    
    color: #212353;

}
.footer__bottom {
    margin-top: 90px;
    display: flex;
}
.footer__bootom-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    /* or 22px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    /* 2 */
    
    color: #212353;
    width: 265px;
}
.footer__bottom-img {
    margin-left: auto;
}
@media all and (max-width: 425px) {
    .social {
        flex-direction: column;
    }
}
@media all and (max-width: 768px) {
    * {
        text-align: center;
    }
    .features__item {
        background-image: none !important;
        width: auto !important;
        min-width: 0;
    }
    .features__text {
        padding: 0;
        margin: 0 auto;        
    }
    .features {
        width: auto;
    }
    .about__title {
        font-size: 25px;
    }
    .features__title {
        font-size: 25px;
    }
    .footer__title {
        font-size: 25px;
    }
    .about__text {
        margin: 0;
        padding: 25px 0;
        text-align: center;
    }
}
@media all and (max-width: 1024px) {
    .content {
        padding: 0 !important;
    }
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .nav__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .nav__links li + li {
        margin-left: 0;
    }
    .hero {
        justify-content: center;
        padding-left: 0;
    }
    .hero__title {
        font-size: 40px;
    }

    .about {
        margin: 0;
    }
    footer{

    }
    .about__picture img{
        display: none;
    }
    .features__subtitle {
        max-width: 300px;
    }
    
    
}

@media all and (max-width: 1440px) {
    .hero__right{
        display: none;
    }
}