main {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-right: 240px;
}
.content {
    margin: 0 240px;
}
.nav__links {
    margin-left: 120px;
    margin-right: auto;
    display: flex;
}
.nav__links > li {
    font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* 1 */

color: #4B5D68;

}
.nav__links > li + li {
    margin-left: 40px;
}
.nav__button {
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */

align-items: center;
letter-spacing: 0.005em;

/* 2 */

color: #212353;
    padding: 17px 29px;
    background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
    display: inline;
}
.nav__button span {
    margin-left: 20px;
}
.hero {
    padding-left: 240px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero__under {
    display: flex;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
}
.hero__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
}
.hero__title {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 110%;
    

/* 2 */

color: #212353;
}
.hero__subtitle {
width: 380px;
height: 120px;

font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
    margin: 50px 0 ;
/* or 29px */


/* 1 */

color: #4B5D68;
}
.hero__button {
    font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
/* identical to box height, or 29px */
text-align: center;

color: #FFFFFF;
    padding: 16px 37px;
    background: #9C69E2;
border-radius: 50px;
}
.hero__right {
    padding-right: 112px;
}

.about {
    display: flex;
    height: 560px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    width: 1120px;
    justify-content: center;
    align-items: center;
}
.about__text {
    margin-left: 62px;
}
.about__title {
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
/* or 52px */

display: flex;
align-items: center;

color: #212353;
width: 475px;

}
.about__subtitle {
    font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */


/* 1 */

color: #4B5D68;
margin-top: 40px;
width: 474px;
height: 170px;
}

.features {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #212353;
}
.features__subtitle {
    padding-top: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    
    text-align: center;
    
    /* 1 */
    
    color: #4B5D68;
    width: 585px;
}
.features__list {
    padding-top: 100px;
    display: flex;
    width: 1140px;
    flex-wrap: wrap;
    align-content: center;
}
.features__item {
    width: 50%;
    display: flex;
    height: 358px;
    margin: 25px 0;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 280px;
}
.features__item-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    
    display: flex;
    align-items: center;
    
    color: #212353;
    width: 200px;
    height: 50px;
}
.features__item-text {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */
    
    
    /* 1 */
    
    color: #4B5D68;
    width: 220px;
    height: 160px;
    margin: 20px 0;
}
.featires__link {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    
    /* 2 */
    
    color: #212353;
}
.featires__link > span {
    padding-left: 20px;
}
.features__item_1 {
    background: url(../img/01.png) no-repeat;
}
.features__item_2 {
    background: url(../img/02.png) no-repeat;
}
.features__item_3 {
    background: url(../img/03.png) no-repeat;
}
.features__item_4 {
    background: url(../img/04.png) no-repeat;
}